<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- title %></title>

  <!-- Googl Font -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap" rel="stylesheet">
  <!-- Material Icon -->
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <!-- 輪播 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.1/css/swiper.min.css">
  <!-- 主要的 CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- 套件 -->
  <script src="./assets/js/vendors.js"></script>
  <!-- 輪播 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.1/js/swiper.min.js"></script>
  <!-- 主要的 JS -->
  <script src="./assets/js/all.js"></script>
</head>

<body>
  <!-- 頁首 -->
  <div class="header container">
    <div class="row">
      <div class="col-6 d-flex justify-content-center justify-content-lg-start">
        <h1 class="raleway mb-0"><a href="index.html">Craftsman</a></h1>
      </div>

      <div class="col-6 d-flex justify-content-end align-items-center">
        <div class="headerLink">
          <div class="linkInner d-flex justify-content-end align-items-center roboto">
            <h3><a href="#">Product</a></h3>
            <h3><a href="#">Blog</a></h3>
            <h3><a href="#">Contact</a></h3>
            <a href="#" class="cart"><span class="material-icons" data-toggle="modal" data-target="#exampleModal">shopping_cart</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>




  <%- contents %>

  <!-- 頁尾 -->
  <footer class="container">
    頁尾
  </footer>

  <!-- 外加js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>