<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- title %></title>

  <!-- Googl Font -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap" rel="stylesheet">
  <!-- Material Icon -->
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <!-- 輪播 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.1/css/swiper.min.css">
  <!-- 主要的 CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- 套件 -->
  <script src="./assets/js/vendors.js"></script>
  <!-- 輪播 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.1/js/swiper.min.js"></script>
  <!-- 主要的 JS -->
  <!-- <script src="./assets/js/all.js"></script> -->
</head>

<body>
  <!-- 頁首 -->
  <div class="header container">
    <div class="row mt-4">
      <div class="col-6 d-flex justify-content-center justify-content-lg-start">
        <h4 class="raleway mb-0"><a href="index.html" >Craftsman</a></h4>
      </div>

      <div class="col-6 d-flex justify-content-end align-items-center ">
        <div class="headerLink">
          <div class="d-flex justify-content-end align-items-center roboto">
            <h5 class="mx-4 "><a href="#" class="text-light">Product</a></h5>
            <h5 class="mx-4 "><a href="#">Blog</a></h5>
            <h5 class="mx-4 "><a href="#">Contact</a></h3>
            <a href="#" class="cart ml-4 "><span class="material-icons" data-toggle="modal" data-target="#exampleModal">shopping_cart</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>




  <%- contents %>

  <section class="Subscribe">
    <div class="container">
      <div class="col-5 d-lg-flex offers mb-7">
          <h1>Subscribe for news and special offers!</h>
      </div>
      
      <div class="col-5 d-lg-flex">
        <form class="input-group ">
          <input type="email" class="form-control" placeholder="Your email address" aria-label="Your email address" aria-describedby="button-addon2">
          <div class="doSubscribe">
            <input class="btn btn-success" type="button" id="button-addon2" value="Subscribe">
          </div>
        </form>
    </div>

    </div>
  </section>


  <!-- 頁尾 -->
  <footer class="py-4 bg-dark ">
    <div class="container roboto">
      <div class="row">
        <div class="col-12 d-lg-flex justify-content-lg-between">
          <div class="d-lg-flex">
            <h4 class="raleway mainLogo"><a href="index.html" class="pr-3 text-light">Craftsman</a></h4>
            <p class="mt-1 display-5 text-light">© 2020. All Rights Reserved.</p>
          </div>

          <ul class="d-flex flex-column flex-lg-row">
            <li class="d-flex align-items-lg-center mx-4"><a href="#" class="text-light">Purchase Policy</a></li>
            <li class="d-flex align-items-lg-center mx-4"><a href="#" class="text-light">Privacy Policy</a></li>
            <li class="d-flex align-items-lg-center ml-4"><a href="#" class="text-light">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  <!-- 外加js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>