
.inx-border-red{
    outline: 1px solid red;
    margin-bottom: 5px;
}

.inx-border-yellow{
    outline: 1px solid yellow;
    margin-bottom: 5px;
}


.inx-border-green{
    outline: 1px solid green;
    margin-bottom: 5px;
}


.inx-border-blue{
    outline: 1px solid  blue;
    margin-bottom: 5px;
}

.inx-border-gray{
    outline: 1px solid gray;
    margin-bottom: 5px;
}


.boxblue{
    // height: 300px;
    // width: 300px;
    outline: 1px solid  blue;
}

.boxgreen{
    height: 300px;
    width: 300px;
    outline: 1px solid darkgreen;
}



