.shopping_cart_icon {
  width: 24px;
  height: 24px;
  color: red;
}

.Subscribe {
  
  // margin-bottom: 200px;
  background: url(../images/tom-crew-uDF1mW7EUwM-unsplash.jpg) center no-repeat;
  background-size: cover;
}

.offers{
  padding-top: 84px;
}

.doSubscribe{
  margin-bottom: 84px;
}